<div fxLayout="column">
    <mat-nav-list>
        <a href="#" mat-list-item (click)="exportExcel()">
            <span>Exportar a Excel</span>
        </a>
        <a href="#" mat-list-item (click)="openPDF()">
            <span>Exportar a PDF (abrir)</span>
        </a>
        <a href="#" mat-list-item (click)="printPDF()">
            <span>Exportar a PDF (imprimir)</span>
        </a>
        <a href="#" mat-list-item (click)="savePDF()">
            <span>Exportar a PDF (descargar)</span>
        </a>
    </mat-nav-list>
</div>