<cem-title></cem-title>
<cem-container class="container" >
    <perfect-scrollbar class="heightMaxScrollbarInfo">
        <div fxLayout="column" fxLayoutAlign="center center">
            <br>
            <h1>Encuentranos en:</h1>
            <h2>FACEBOOK</h2>
            <a href="https://www.facebook.com/cemafeg" target="blank">
                <img src="../../../../assets/icons/facebook.png" alt="facebook" >
            </a>
            <br>
            <h2>YOUTUBE</h2>
            <a href="https://www.youtube.com/channel/UCagZSCJxHgqPpJUsHKKvilg" target="blank">
                <img src="../../../../assets/icons/youtube.png" alt="youtube">
            </a>
            <br>
            <h2>TIK-TOK</h2>
            <a href="https://www.tiktok.com/@cemafeg" target="blank">
                <img src="../../../../assets/icons/tik-tok.png" alt="tiktok">
            </a>
            <br>
            <h2>UBICACIÓN</h2>
            <a href="https://www.google.com/maps/place/Cemafeg/@0.9093803,-79.688901,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xb6a955a4c88f1a49!8m2!3d0.9093803!4d-79.688901" target="blank">
                <img src="../../../../assets/icons/ubicacion.png" alt="ubicacion">
            </a>
        </div>
    </perfect-scrollbar>
</cem-container>