<cem-title></cem-title>
    <cem-container>
        <perfect-scrollbar class="heightMaxScrollbar">
        <div class="info" fxLayout="column" fxLayoutAlign="start center">
            <div class="imagen" fxLayout="row" fxLayoutAlign="space-between">
                <img src="../../../../assets/fondo.png" alt="cemafegFondo">
                <img src="../../../../assets/logoCem.png" alt="cemafegFondo">
                <img src="../../../../assets/f.png" alt="cemafegFondo">
            </div>
            <h2>Lorem Ipsum</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non nulla at nisi laoreet lobortis.
                <br>Curabitur nec tincidunt eros. Sed dapibus odio sed augue vulputate rhoncus.
                <br>Cras faucibus pellentesque metus et eleifend. Nulla laoreet arcu id odio venenatis, a rutrum
                augue
                vehicula.
                <br>Curabitur porta dui eget elit egestas, ac pharetra sapien elementum.
                <br>Duis tincidunt lacinia massa nec consequat. Proin a massa sagittis, mollis purus vitae, bibendum
                justo.
                <br>Proin mollis enim ut lacus facilisis, sit amet gravida tellus sagittis.
                <br>Nam auctor tellus congue ante vestibulum malesuada.
                <br>Nullam elit dolor, ullamcorper imperdiet iaculis sed, fermentum nec urna.
                <br>Pellentesque et tortor et eros gravida fringilla. Vestibulum placerat diam nec massa pharetra
                iaculis.
                <br>Ut euismod eget tellus volutpat commodo. Proin eu efficitur tellus. Nulla facilisi.
                <br>Suspendisse at mauris nec est egestas pharetra accumsan in massa. Nunc vel ex nec orci vehicula
                pulvinar.
                <br>Fusce ut dolor nec augue feugiat consequat. Fusce rutrum, velit in venenatis tempor, felis nisi
                malesuada
                <br>metus, non aliquet nisi magna quis est. Sed egestas volutpat elit. Pellentesque a metus
                facilisis,
                <br>sodales nisl ut, dictum augue. Cras imperdiet libero est, non aliquet nulla dignissim nec.
                <br>Aenean ipsum ligula, eleifend ut neque eget, cursus vestibulum libero.
                <br>Duis fringilla vel leo sed facilisis.
            </p>
        </div>
    </perfect-scrollbar>
    </cem-container>

